.idea/
Day1/bin/
Day1/obj/
Day2/bin/
Day2/obj/
Day3/bin/
Day3/obj/
Day4/bin/
Day4/obj/
Day5/bin/
Day5/obj/
Day6/bin/Debug/net8.0/Day6.dll
Day6/bin/Debug/net8.0/Day6.pdb
Day6/bin/
Day6/obj/
Day7/bin/
Day7/obj/
Day8/bin/
Day8/obj/
AdventOfCode2024.sln.DotSettings.user
Day9/bin/
Day9/obj/
Day10/bin/
Day10/obj/
Day11/bin/
Day11/obj/
Day12/bin/
Day12/obj/
Day13/bin/
Day13/obj/
Day14/bin/
Day14/obj/
Day15/bin/
Day15/obj/
Day16/bin/
Day16/obj/
Day17/bin/
Day17/obj/
Day18/bin/
Day18/obj/
Day19/bin/
Day19/obj/
